@model WebEmployees.customers


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Работа</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <dl class="dl-horizontal">

                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.idcustomers)

                <dt>Имя</dt>
                <dd>@Html.TextBoxFor(m => m.name, new { @class = "form-control", placeholder = "Введите имя", type = "text" })</dd> 
                
                <br />

                <dt>Район</dt>
                <dd>@Html.DropDownListFor(model => model.district, (SelectList)ViewBag.Districts, "", new { @class = "form-control" })</dd> 

                <br />

                <dt>Телефон</dt>
                <dd>@Html.TextBoxFor(m => m.phone, new { @class = "form-control", placeholder = "Введите телефон", type = "text" })</dd>
                
                <br />

                <dt>Публичный адрес</dt>
                <dd>@Html.TextBoxFor(m => m.publicAddress, new { @class = "form-control", placeholder = "Введите публичный адрес", type = "text" })</dd>
                
                <br />

                <dt>Приватный адрес</dt>
                <dd>@Html.TextBoxFor(m => m.privateAddress, new { @class = "form-control", placeholder = "Введите приватный адрес", type = "text" })</dd> 


            </dl>
        </div>

        <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button>
            <button class="btn btn-primary" type="submit">Сохранить изменения</button>
        </div>

    </div>
</div>
}
